<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ISEPDevAppMobileAdmin"
        tools:targetApi="31">
        <activity
            android:name=".activity.ModifyGroup"
            android:exported="false" />
        <activity
            android:name=".activity.SkillScoreDetailsForModuleManager"
            android:exported="false" />
        <activity
            android:name=".activity.ComponentScoreDetails"
            android:exported="false" />
        <activity
            android:name=".activity.ModifyTeamObservation"
            android:exported="false" />
        <activity
            android:name=".activity.StudentDetailsForModuleManager"
            android:exported="false" />
        <activity
            android:name=".activity.TeamDetailsForModuleManager"
            android:exported="false" />
        <activity
            android:name=".activity.GroupDetailsForModuleManager"
            android:exported="false" />
        <activity
            android:name=".activity.AllGroupsPage"
            android:exported="false" />
        <activity
            android:name=".activity.DeleteSkill"
            android:exported="false" />
        <activity
            android:name=".activity.ModifySkill"
            android:exported="false" />
        <activity
            android:name=".activity.AddSkill"
            android:exported="false" />
        <activity
            android:name=".activity.SkillDetailsForModuleManager"
            android:exported="false" />
        <activity
            android:name=".activity.DeleteComponent"
            android:exported="false" />
        <activity
            android:name=".activity.ModifyComponent"
            android:exported="false" />
        <activity
            android:name=".activity.ComponentDetailsForModuleManager"
            android:exported="false" />
        <activity
            android:name=".activity.AddComponent"
            android:exported="false" />
        <activity
            android:name=".activity.ModuleManagerActivity"
            android:exported="false" />
        <activity
            android:name=".activity.GroupDetailsForComponentManager"
            android:exported="false" />
        <activity
            android:name=".activity.ProfilePage"
            android:exported="false" />
        <activity
            android:name=".activity.TutorActivity"
            android:exported="false" />
        <activity
            android:name=".activity.IncorrectPassword"
            android:exported="false" />
        <activity
            android:name=".activity.UserNotInDB"
            android:exported="false" />
        <activity
            android:name=".activity.UserRegisteredInDatabase"
            android:exported="false" />
        <activity
            android:name=".activity.UserAlreadyInDB"
            android:exported="false" />
        <activity
            android:name=".activity.ComponentManagerActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SignUp"
            android:exported="false" />
        <activity
            android:name=".activity.SignIn"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>